@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Hello from develop</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Build and Release pipeline from classic editor</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Build and Release pipeline from yaml setup</a>.</p>
</div>
